# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/

# Virtual environment
casr_env/

# Dataset files (too large for GitHub)
data/

# Trained models
trained_model/
trained_model_tascar/
trained_model_sac_only/
trained_model_transformer_ppo/
trained_model_casr_500/
trained_model_tascar_seed123/
trained_model_tascar_seed456/

# Environment files
.env

# VS Code settings
.vscode/

# Jupyter checkpoints
.ipynb_checkpoints/