# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/

# Virtual environment
casr_env/

# Dataset files (too large for GitHub)
data/

# Trained models
trained_model*/

# Environment files
.env

# VS Code setting
.vscode/

# Jupyter checkpoints
.ipynb_checkpoints/

# Windows
Thumbs.db
desktop.ini

# Misc
*.log
*.tmp